/* Service classes*/
.noselected, .noselected * {
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* Service classes: END*/